<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="userDao" class="com.fc.dao.impl.UserDaoImpl"/>
<!--    在容器中创建一个对象-->
    <bean id="userDaoFactory" class="com.fc.util.UserDaoFactory"/>
    <bean id="userDao2" factory-bean="userDaoFactory" factory-method="getUserDao"/>

<!--    静态工厂-->
    <bean id="userDao3" class="com.fc.util.UserDaoStaticFactory" factory-method="getUserDao"/>
</beans>